.main2{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background: rgba(69, 69, 69, 0.52);
    z-index: 100;
}

.link-log-in{
    position: absolute;
    width: 25px;
    left: 30px;
    top: 35px;
}

.arrow:hover{
    filter: invert(29%) sepia(25%) saturate(4599%) hue-rotate(266deg) brightness(94%) contrast(90%);
}

.modal-window{
    position: relative;
    font-family: 'Inria Sans', sans-serif;
    position: relative;
    bottom: 40px;
    margin: auto;
    width: 350px;
    padding-bottom: 30px;
    background: #D9D9D9;
    border-radius: 10px;
}

.container-modal{
    width: 250px;
    margin: auto;
    margin-top: 35px;
}

.logo-modal{
    display: block;
    margin: auto;
}

.title-modal{
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0;
}

.inputs-form{
    margin-top: 14px;
}

.form-modal{
    width: 250px;
    height: 38px;
    background: none;
    font-size: 14px;
    line-height: 14px;
    padding-left: 15px;
    margin-top: 10px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: inset 20px 20px 0px 20px #DADADA;
}

.form-modal::placeholder{
    font-size: 12px;
    color: #626262;
}

.buttons-form{
    margin-top: 20px;
}

.button-modal{
    width: 250px;
    height: 38px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #9E3BB7;
    border-radius: 5px;
}

.button-modal:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.regist{
    margin-top: 15px;
}

.text-between-button{
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #626262;
}

.error-valid{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #626262;
    margin-bottom: -5px;
    margin-top: 5px;
    text-align: center;
}